{
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended"
  ],
  "parser":"babel-eslint",
  "plugins":["flowtype"],
  "rules": {
    "flowtype/no-types-missing-file-annotation": 0,
    "max-len": [2, {"code": 120, "ignoreUrls": true}],
    "arrow-body-style": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "no-console": 2
  },
  "globals": {
    "describe": true,
    "test": true,
    "expect": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterAll": true,
    "afterEach": true
  }
}
